@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Aldrich';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../public/assets/fonts/ALDRICH-REGULAR.TTF) format('ttf');
    }
}


::-webkit-scrollbar {
    @apply w-1.5
}

::-webkit-scrollbar-thumb {
    @apply bg-black dark:bg-white
}

::-webkit-scrollbar-track {
    @apply bg-white dark:bg-black
}

* {
    scroll-behavior: smooth;
}